{% extends "::base.html.twig" %}
{% block body %}
<h2>Star Apple Q-Sys</h2>
{% for queue in queues %}
<div class="queue-entry">
    <a class="queue-name" href="{{ path('queue', {queueId: queue.id}) }}"><h3>{{ queue.name }}</h3></a>
</div>
{% else %}
<div class="queue-entry">
    <h2 class="queue-entry-name">Er zijn geen queues!</h2>
</div>
{% endfor %}
{% endblock %}